@forward 'stuff/chat';
@forward 'stuff/server-list';
@forward 'stuff/channel-list';
@forward 'stuff/channel-bar';
@forward 'stuff/member-list';
@forward 'stuff/settings';
@forward 'stuff/friends';
@forward 'stuff/overlay';
@forward 'stuff/other';

@import url('https://nyri4.github.io/donators/donators.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito');

// Black box imports
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");

// Right popout
@media (min-width: 1350px) {
  .chatContent-a9vAAp + :last-child { 
      position: fixed;
      top: 280px; bottom: 120px; right: 60px;
      width: 320px;
  }
  .tabBody-3YRQ8W { transform: none;}

  // Basic right popout when there's nothing
  .container-2lgZY8::after {
    content: "Stay comfy â¤"; position: fixed;
    top: 220px; bottom: 85px; right: 60px; z-index: -2;
    width: 320px; background-color: var(--background-primary);
    text-align: center; display: flex; align-items: center;
    justify-content: center; font-size: 30px; color: var(--text-normal);
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  .container-2lgZY8::before { 
    content: ""; position: fixed;
    top: 220px; bottom: 85px; right: 70px; z-index: -1;
    width: 300px; border-radius: var(--border-radius);
    background: var(--jumping-gif) bottom/40% no-repeat;
  }
  
  // Adding space for right popout
  .guilds-1SWlCJ + :nth-child(2) { margin-right: 450px; border-radius: 0 var(--border-radius) var(--border-radius) 0;}

  // User area
  .panels-j1Uci_ > .container-3baos1 { 
    position: fixed;
    width: 305px; height: 50px;
    bottom: 28px; right: 60px;
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
  }
  .container-2lgZY8 { overflow: visible;}
  
  .layers-3iHuyZ > :nth-child(2) { margin-right: 450px;}
}