:root {

// Thread container
.threadSidebar-1o3BTy {
    position: fixed;
    top: 220px; bottom: 85px; right: 60px;
    width: 320px; min-width: unset;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    padding-bottom: 26px; overflow: visible;

    &::-webkit-scrollbar { margin-right: 50px;}

    // Header
    &::before {
        content: "Thread"; position: absolute;
        top: -60px; z-index: 1;
        width: 100%; height: 60px;
        display: flex;
        align-items: center; justify-content: center;
        font-size: 20px; font-weight: bolder;
        color: var(--header-primary);
        background-color: var(--background-secondary);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
        content: ""; position: fixed;
        bottom: 85px; z-index: 1;
        width: 320px; height: 35px;
        background-color: var(--background-secondary);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 21px 2px;
        background-repeat: repeat-x;
    }
}


// Embed
.embedFull-2tM8-- { 
    border: none; margin-left: 10px;
    border-radius: 5px var(--border-radius) var(--border-radius) 5px;

    &:after {
        content: "";
        position: absolute;
        top: 1px; bottom: 1px; left: -10px;
        width: 0px;
        border: solid;
        border-width: 0 0 0 6px;
        border-color: inherit;
        border-radius: var(--border-radius);
    }
}

// Code blocks
.hljs { border: none; border-radius: var(--border-radius);}

// Audio player
.wrapperAudio-1jDe0Q { padding: 10px 0 0 0; border-radius: var(--border-radius);}
.audioMetadata-3zOuGv { padding: 5px 10px;}
.audioControls-2HsaU6 { border-radius: 0 0 var(--border-radius) var(--border-radius);}

// Spoiler
.spoilerText-3p6IlD.hidden-HHr2R9, .spoilerText-3p6IlD.hidden-HHr2R9:hover { background-color: var(--background-secondary-alt);}

// Discord invite
.wrapper-35wsBm { border-radius: var(--border-radius);}

// Spotify session
.invite-18yqGF { background-color: var(--background-secondary); border: none; border-radius: var(--border-radius);}

// Spotify embed
.embedSpotify-tvxDCr { border-radius: var(--border-radius);}

// Discord Gift
.tile-2OwFgW { background-color: var(--background-secondary); border-radius: var(--border-radius);}
.tileHorizontal-3eee4N.tile-2OwFgW:hover { background-color: var(--background-secondary-alt);}
.invalidPoop-pnUbq7 { background-color: rgba(0, 0, 0, 0.103);}

// # @ / autocomplete menu
.autocomplete-1vrmpx, .option-1B5ZV8 { background-color: var(--background-secondary-alt);}
.categoryHeader-O1zU94, .selected-1Tbx07 { background-color: var(--background-tertiary);}

// @everyone popout
.everyonePopout-nEbJY3 { background-color: var(--background-primary); box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(56, 31, 31, 0.11);}

// Emoji picker
.emojiItem-14v6tW.emojiItemSelected-1aLkfV { background-color: var(--background-modifier-selected);}
.searchBar-5di9mG { border-radius: var(--border-radius);}

.imageLoading-bpSr0M { 
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
}

// Reactions modal
.scroller-1-nKid { background: var(--background-tertiary);}
.container-1If-HZ, .reactors-Blmlhw { background: var(--background-secondary);}
.reactionSelected-1pqISm { background-color: #6e85d321;}
.reactorDefault-1IUqMZ { box-shadow: inset 0 -1px 0 var(--background-primary); }

// Deleting message modal
.message-2qRu38 { background: var(--background-primary); box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(56, 31, 31, 0.11);}

// Attachements
.textContainer-C0szpm, .footer-2yA7Ep { border: none;}

// Emoji popout
.popoutContainer-1MXdqN { border-radius: var(--border-radius);}

// New message bar
.newMessagesBar-265mhP {  
    top: 5px; border-radius: var(--border-radius);
    background-color: var(--background-accent);
    padding-top: 0;
}

// Jump to present bar
.jumpToPresentBar-G1R9s6 { 
    bottom: 12px; padding-bottom: 0; 
    border-radius: var(--border-radius);
}

// News chat bar
.wrapper-39oAo3 { border-radius: var(--border-radius);}

// Reactions
.reaction-1hd86g { border-radius: var(--border-radius);}

// Buttons on messages
.wrapper-2aW0bm { border-radius: var(--border-radius);}

// Bot tag
.botTagRegular-2HEhHi { background-color: var(--background-accent);}

}