:root {
  // Thread
  .container-3wLKDe {
    background: var(--background-primary);

    .mainCard-3KBsBI {
      background-color: var(--background-secondary);
    }
  }

  .threadSidebar-1o3BTy {
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    width: 320px;
    min-width: unset;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    padding-bottom: 26px;
    overflow: visible;

    &::-webkit-scrollbar {
      margin-right: 50px;
    }

    // Header
    &::before {
      content: "Thread";
      position: absolute;
      top: -60px;
      z-index: 1;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bolder;
      color: var(--header-primary);
      background-color: var(--background-secondary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
      content: "";
      position: fixed;
      bottom: 85px;
      z-index: 1;
      width: 320px;
      height: 35px;
      background-color: var(--background-secondary);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      background-image: linear-gradient(
        to right,
        var(--header-primary) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 21px 2px;
      background-repeat: repeat-x;
    }
  }

  // Embed
  .embedFull-1HGV2S {
    border: none;
    margin-left: 10px;
    border-radius: 5px var(--border-radius) var(--border-radius) 5px;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: -10px;
      width: 0px;
      border: solid;
      border-width: 0 0 0 6px;
      border-color: inherit;
      border-radius: var(--border-radius);
    }
  }

  // Code blocks
  .hljs {
    border: none;
    border-radius: var(--border-radius);
  }

  // Audio player
  .wrapperAudio-1Bzv_Z {
    padding: 10px 0 0 0;
    border-radius: var(--border-radius);
  }
  .audioMetadata-1Hrt8T {
    padding: 5px 10px;
  }
  .audioControls-3fmemK {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Discord invite
  .wrapper-1HIH0j {
    border-radius: var(--border-radius);
  }

  // Spotify session
  .invite-3uuHYQ {
    background-color: var(--background-secondary);
    border: none;
    border-radius: var(--border-radius);
  }

  // Spotify embed
  .embedSpotify-1rDvOE {
    border-radius: var(--border-radius);
  }

  // Discord Gift
  .tile-2mmK5T {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
  }
  .tileHorizontal-1DBMDZ.tile-2mmK5T:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop--w1123 {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // # @ / autocomplete menu
  .autocomplete-3NRXG8,
  .option-Tt7anD {
    background-color: var(--background-secondary-alt);
  }
  .categoryHeader-OpJ1Ly,
  .selected-3H3-RC {
    background-color: var(--background-tertiary);
  }

  // @everyone popout
  .everyonePopout-nEbJY3 {
    background-color: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Emoji picker
  .emojiItem-277VFM.emojiItemSelected-2Lg50V {
    background-color: var(--background-modifier-selected);
  }
  .searchBar-2M9mRP {
    border-radius: var(--border-radius);
  }

  .imageLoading-2uloYN {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  // Reactions modal
  .scroller-2GkvCq {
    background: var(--background-tertiary);
  }
  .container-KM8BU6,
  .reactors-1VXca7 {
    background: var(--background-secondary);
  }
  .reactionSelected-1aMb2K {
    background-color: #6e85d321;
  }
  .reactorDefault-3GSyaV {
    box-shadow: inset 0 -1px 0 var(--background-primary);
  }

  // Deleting message modal
  .message-G6O-Wv {
    background: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Attachements
  .textContainer-36wgKK,
  .footer-GXWBBp {
    border: none;
  }

  // Emoji popout
  .popoutContainer-2wbmiM {
    border-radius: var(--border-radius);
  }

  // New message bar
  .newMessagesBar-1hF-9G {
    top: 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-accent);
    padding-top: 0;
  }

  // Jump to present bar
  .jumpToPresentBar-1cEnH0 {
    bottom: 12px;
    padding-bottom: 0;
    border-radius: var(--border-radius);
  }

  // News chat bar
  .wrapper-2SplAX {
    border-radius: var(--border-radius);
  }

  // Reactions
  .reaction-2A2y9y {
    border-radius: var(--border-radius);
  }

  // Buttons on messages
  .wrapper-2vIMkT {
    border-radius: var(--border-radius);
  }

  // Bot tag
  .botTagRegular-kpctgU {
    background-color: var(--background-accent);
  }

  // Slow mode
  .cooldownWrapper-2k1jHK {
    color: var(--text-muted) !important;
  }
}
