:root { 
    
// Removing help buttons
[href="https://support.discord.com"], .searchLearnMore-3SQUAj .anchor-3Z-8Bb.anchorUnderlineOnHover-2ESHQB { display: none;}

// -- Search bar part --
.search-36MZv- { 
    order: 1; margin-left: 0;

    .focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb { width: 320px; border-radius: var(--border-radius);}
    
    .search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
        width: 27px; transition: 0.25s;
        background-color: transparent;
    }
    .search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb { width: 240px; background-color: var(--background-tertiary); border-radius: var(--border-radius);}
    .search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN { transform: scale(1.2); transition: 0.25s;}
    .search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN { transform: scale(1);}
    .searchAnswer-3Dz2-q, .searchFilter-2ESiM3 { background-color: var(--background-primary);}
}

// Search popout
.container-3ayLPN { 
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);

    .queryContainer-RKFJW- { border-bottom: none;}
    .focused-2bY0OD { background-color: var(--background-secondary-alt); border-bottom: none;}
    
    .resultsGroup-r_nuzN { 
        &::before { display: none;}

        .header-2N-gMV { text-align: center;}
    }

    // Options
    .option-96V44q {
        border-radius: var(--border-radius);

        &:after { background: linear-gradient(90deg,rgba(54, 57, 63, 0), var(--background-secondary-alt) 80%);}
        &.selected-rZcOL-:after { background: linear-gradient(90deg, rgba(54, 57, 63, 0), var(--background-secondary) 80%);}

        .answer-1n6g43 { color: var(--interactive-muted);}
    }
}

// Calendar
.calendarPicker-2yf6Ci { 
    .react-datepicker { background-color: var(--background-secondary-alt);}

    .react-datepicker__day, .react-datepicker__header { 
        background: var(--background-secondary-alt) !important; 
        border-color: var(--background-tertiary) !important;

        &::after { background-color: var(--background-accent) !important;}
    }

}
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z,
.datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover { background-color: var(--background-accent);}

.searchLearnMore-3SQUAj { display: none;}

// Search result popout
.searchResultsWrap-3-pOjs {
    overflow: visible;
        
    // Added header
    &::before {
        content: "Search results"; position: absolute;
        top: -60px; z-index: 1;
        width: 100%; height: 60px;
        display: flex;
        align-items: center; justify-content: center;
        font-size: 20px; font-weight: bolder;
        color: var(--header-primary);
        background-color: var(--background-secondary);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
        content: ""; position: absolute;
        bottom: -35px; z-index: 1;
        width: 100%; height: 35px;
        background-color: var(--background-secondary);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 21px 2px;
        background-repeat: repeat-x;
    }

    // Header
    .searchHeader-2XoQg7 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        height: unset;

        & > * { justify-content: center;}

        // Total results
        .totalResults--dyAxF { grid-column: 1/4;}

        // Parameters
        .tab-2j5AEF { padding: 0; margin: 0;}
    }

    // Scroller
    .scroller-3GIiMh { 
        padding: 8px 0;

        .searchResultGroup-1DphGG { padding: 0 2px 0 8px;}

        // Reply
        .repliedMessage-VokQwo { 
            margin-left: 8px;

            &::before { display: none;}
        }
        
        // Message
        .wrapper-2a6GCs { padding: 0;}

        .contents-2mQqc9 {
            display: grid;
            grid-template-columns: 40px auto;
            grid-gap: 8px; align-items: center;
            margin: 5px 5px 5px 8px;
            
            // Username + timestamp
            .header-23xsNx {
                display: flex;
                flex-direction: column;

                .timestamp-3ZCmNB { margin-left: 0;}
            }

            // Avatar
            .avatar-1BDn8e { position: static; margin-top: 0; }

            // Content
            .messageContent-2qWWxC {
                grid-column: 1/3;
                padding-left: 10px; 
                margin: 0; padding: 0;
            }
        }
        .embedWrapper-lXpS3L { margin-left: 5px; }

        // Page control
        .pageControl-xGOf_S { width: 100%;}
    }
}

.messagesPopoutWrap-1MQ1bW { border-radius: var(--border-radius);}

}