:root {
  .content-1SgpWY .sidebar-1tnWFu {
    border-radius: 0;
  }

  // Channels
  .content-1gYQeQ,
  .container-32HW5s {
    border-radius: var(--border-radius);
  }

  // Voice call
  .content-1Tgc42 {
    border-radius: var(--border-radius);
  }

  // SCTR connection
  .container-1ILvLB .header-2C89wJ {
    background-color: var(--background-tertiary);
  }
  .container-1ILvLB section {
    background-color: var(--background-secondary);
  }
}
