:root {
  // Forums
  .container_b181b6 {
    background: var(--background-primary);

    .mainCard__8a660 {
      background-color: var(--background-secondary);
    }
  }

  // Threads
  .threadSidebar-1o3BTy {
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    width: 320px;
    min-width: unset;
    border-radius: var(--border-radius);
    background-color: var(--background-primary);
    padding-bottom: 26px;
    overflow: visible;

    &::-webkit-scrollbar {
      margin-right: 50px;
    }

    // Header
    &::before {
      content: "Thread";
      position: absolute;
      top: -60px;
      z-index: 1;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bolder;
      color: var(--header-primary);
      background-color: var(--background-secondary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
      content: "";
      position: fixed;
      bottom: 85px;
      z-index: 1;
      width: 320px;
      height: 35px;
      background-color: var(--background-secondary);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      background-image: linear-gradient(
        to right,
        var(--header-primary) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 21px 2px;
      background-repeat: repeat-x;
    }
  }

  // Embed
  .embedFull__8dc21 {
    border: none;
    margin-left: 10px;
    border-radius: 5px var(--border-radius) var(--border-radius) 5px;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: -10px;
      width: 0px;
      border: solid;
      border-width: 0 0 0 6px;
      border-color: inherit;
      border-radius: var(--border-radius);
    }
  }

  // Code blocks
  .hljs {
    border: none;
    border-radius: var(--border-radius);
  }

  // Audio player
  .wrapperAudio__555ce {
    padding: 10px 0 0 0;
    border-radius: var(--border-radius);
  }
  .audioMetadata_e546a8 {
    padding: 5px 10px;
  }
  .audioControls__9fbe9 {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Discord invite
  .wrapper_efe67f {
    border-radius: var(--border-radius);
  }

  // Spotify session
  .invite__2a93b {
    background-color: var(--background-secondary);
    border: none;
    border-radius: var(--border-radius);
  }

  // Spotify embed
  .embedSpotify_d58077 {
    border-radius: var(--border-radius);
  }

  // Discord Gift
  .tile_ebc93b {
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
  }
  .tileHorizontal_f83028.tile_ebc93b:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop__03aa3 {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // # @ / autocomplete menu
  .autocomplete_df266d,
  .option__32fd1 {
    background-color: var(--background-secondary-alt);
  }
  .categoryHeader_f97a5f,
  .selected-3H3-RC {
    background-color: var(--background-tertiary);
  }

  // @everyone popout
  .everyonePopout-nEbJY3 {
    background-color: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Emoji picker
  .emojiItem_b15dee.emojiItemSelected__1a09a {
    background-color: var(--background-modifier-selected);
  }
  .searchBar__8f956 {
    border-radius: var(--border-radius);
  }

  .imageLoading__37d01 {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  // Reactions modal
  .scroller__5fda0 {
    background: var(--background-tertiary);
  }
  .container_dc03c3,
  .reactors__20ab0 {
    background: var(--background-secondary);
  }
  .reactionSelected__249a7 {
    background-color: #6e85d321;
  }
  .reactorDefault__5b249 {
    box-shadow: inset 0 -1px 0 var(--background-primary);
  }

  // Deleting message modal
  .message__04d9f {
    background: var(--background-primary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // Attachements
  .textContainer__709ff,
  .footer__06f4b {
    border: none;
  }

  // Emoji popout
  .popoutContainer__7b9a3 {
    border-radius: var(--border-radius);
  }

  // New message bar
  .newMessagesBar__8b6d7 {
    top: 5px;
    border-radius: var(--border-radius);
    background-color: var(--background-accent);
    padding-top: 0;
  }

  // Jump to present bar
  .jumpToPresentBar__0ff7f {
    bottom: 12px;
    padding-bottom: 0;
    border-radius: var(--border-radius);
  }

  // News chat bar
  .wrapper_fbbb73 {
    border-radius: var(--border-radius);
  }

  // Reactions
  .reaction-2A2y9y {
    border-radius: var(--border-radius);
  }

  // Buttons on messages
  .wrapper_c727b6 {
    border-radius: var(--border-radius);
  }

  // Bot tag
  .botTagRegular_c89c9a {
    background-color: var(--background-accent);
  }

  // Slow mode
  .cooldownWrapper_de448f {
    color: var(--text-muted) !important;
  }
}
