:root  {
	[class*="subtitleContainer"] > [class*="title"],
	[class*="container"][aria-label*="Thread header"] {
		background-color: var(--background-primary);

		[class*="children"]:after { 
			background: none;
		}
	}

	// Removing help buttons
	[class*="toolbar"] > [href="https://support.discord.com"]:last-child, [class*="searchLearnMore"] {
		display: none;
	}

	// -- Search bar part --
	[class*="chat"] [class*="search"] {
		order: 1;
		margin-left: 0;
		[class*="focused"] [class*="searchBar"],
		[class*="open"] [class*="searchBar"] {
			width: 320px;
			border-radius: var(--border-radius);
		}
		[class*="search"]:not([class*="open"]){
			[class*="searchBar"] {
				width: 27px;
				transition: 0.25s;
				background-color: transparent;
			}
			[class*="iconContainer"] {
				transform: scale(1.3);
				transition: 0.25s;
				[class*="icon"] {
					color: var(--interactive-normal) !important;
				}
			}
			&:hover {
				[class*="searchBar"] {
					width: 240px;
					background-color: var(--background-tertiary);
					border-radius: var(--border-radius);
				}
				[class*="iconContainer"] {
					transform: scale(1);
				}
			}
		}


		[class*="searchFilter"] {
			background-color: var(--background-primary);
			border-radius: var(--border-radius) 0 0 var(--border-radius);
		}
		[class*="searchAnswer"] {
			background-color: var(--background-primary);
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
		}
	}

	// Search popout
	[id*="popout"] [class*="container"]:has([class*="search"]) {
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
		0 0 0 1px rgba(56, 31, 31, 0.11);
		background-color: var(--background-secondary);
		border-radius: var(--border-radius);

		[class*="queryContainer"] {
			border-bottom: none;
		}
		[class*="focused"] {
			background-color: var(--background-secondary-alt);
			border-bottom: none;
		}

		[class*="resultsGroup"] {
			&::before {
				display: none;
			}

			[class*="header"] {
				text-align: center;
			}
		}

		// Options
		[class*="option"] {
			border-radius: var(--border-radius);

			&:after {
				background: linear-gradient( 90deg, rgba(54, 57, 63, 0), var(--background-secondary) 80%);
			}

			[class*="answer"] {
				color: var(--interactive-muted);
			}
		}
	}

	// Calendar TODO: looks weird? not sure how it was b4
	[class*="calendarPicker"] {
		.react-datepicker {
			background-color: var(--background-secondary-alt);
		}

		.react-datepicker__day,
		.react-datepicker__header {
			background: var(--background-secondary-alt) !important;
			border-color: var(--background-tertiary) !important;

			&::after {
				background-color: var(--background-accent) !important;
			}
		}
	}
	[class*="datePicker"] [class*="datePickerHint"] [class*="hintValue"],
	[class*="datePicker"] [class*="datePickerHint"] [class*="hintValue"]:hover {
		background-color: var(--background-accent);
	}

	[class*="searchLearnMore"] {
		display: none;
	}

	// Search result popout
	[class*="searchResultsWrap"] {
		overflow: visible;

		// Added header
		&::before {
			content: "Search results";
			position: absolute;
			top: -60px;
			z-index: 1;
			width: 100%;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 20px;
			font-weight: bolder;
			color: var(--header-primary);
			background-color: var(--background-secondary);
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		// Footer
		&::after {
			content: "";
			position: absolute;
			bottom: -35px;
			z-index: 1;
			width: 100%;
			height: 35px;
			background-color: var(--background-secondary);
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			background-image: linear-gradient( to right, var(--header-primary) 33%, rgba(255, 255, 255, 0) 0%);
			background-position: top;
			background-size: 21px 2px;
			background-repeat: repeat-x;
		}

		// Header
		[class*="searchHeader"] {
			display: grid;
			grid-template-columns: auto auto auto;
			grid-gap: 10px;
			height: unset;

			& > * {
				justify-content: center;
			}

			// Total results
			[class*="totalResults"] {
				grid-column: 1/4;
			}

			// Parameters
			[class*="tab"] {
				padding: 0;
				margin: 0;
			}
		}

		// Scroller
		[class*="scroller"] {
			padding: 8px 0;

			[class*="searchResultGroup"] {
				padding: 0 2px 0 8px;
			}

			// Reply
			[class*="repliedMessage"] {
				margin-left: 8px;

				&::before {
					display: none;
				}
			}

			// Message
			[class*="wrapper"] {
				padding: 0;
			}

			.contents_d3ae0d {
				display: grid;
				grid-template-columns: 40px auto;
				grid-gap: 8px;
				align-items: center;
				margin: 5px 5px 5px 8px;

				/*
				// Username + timestamp
				[class*="header"] {
					display: flex;
					flex-direction: column;

					[class*="timestamp"] {
						margin-left: 0;
					}
				}*/

				// Avatar
				[class*="avatar"] {
					position: static;
					margin-top: 0;
				}

				// Content
				[class*="messageContent"] {
					grid-column: 1/3;
					padding-left: 10px;
					margin: 0;
					padding: 0;
				}
			}
			[class*="embedWrapper"] {
				margin-left: 5px;
			}

			// Page control
			[class*="pageControl"] {
				width: 100%;
			}
		}
	}

	[class*="messagesPopoutWrap"] {
		border-radius: var(--border-radius);
	}

	.header__104ca,
	.content__1a4fe::before {
		box-shadow: none;
	}
}
