:root {
  .title_b7d661 {
    background-color: var(--background-primary);

    .children__32014::after { 
      background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(var(--background-primary)));
    }
  }

  // Removing help buttons
  .toolbar__88c63 > [href="https://support.discord.com"]:last-child, .searchLearnMore_bf7b8e
  {
    display: none;
  }

  // -- Search bar part --
  .search__07df0 {
    order: 1;
    margin-left: 0;

    .focused_ddee54 .searchBar_e0c60b,
    .open_d3ab4e .searchBar_e0c60b {
      width: 320px;
      border-radius: var(--border-radius);
    }

    .search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
      width: 27px;
      transition: 0.25s;
      background-color: transparent;
    }

    .search_ac353c:not(.open_d3ab4e):hover .searchBar_e0c60b {
      width: 240px;
      background-color: var(--background-tertiary);
      border-radius: var(--border-radius);
    }

    .search_ac353c:not(.open_d3ab4e) .iconContainer__8fa9c {
      transform: scale(1.3);
      transition: 0.25s;

      .icon_f50f05 {
        color: var(--interactive-normal) !important;
      }
    }
    .search_ac353c:not(.open_d3ab4e):hover .iconContainer__8fa9c {
      transform: scale(1);
    }

    .searchFilter__118cb {
      background-color: var(--background-primary);
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
    .searchAnswer_b452e7 {
      background-color: var(--background-primary);
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }

  // Search popout
  .container_d6dad3 {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);

    .queryContainer_c359fe {
      border-bottom: none;
    }
    .focused_f9cf2c {
      background-color: var(--background-secondary-alt);
      border-bottom: none;
    }

    .resultsGroup-1BPR25 {
      &::before {
        display: none;
      }

      .header-3A13BX {
        text-align: center;
      }
    }

    // Options
    .option_b5597b {
      border-radius: var(--border-radius);

      &:after {
        background: linear-gradient(
          90deg,
          rgba(54, 57, 63, 0),
          var(--background-secondary) 80%
        );
      }
      &.selected-rZcOL-:after {
        background: linear-gradient(
          90deg,
          rgba(54, 57, 63, 0),
          var(--background-secondary) 80%
        );
      }

      .answer-2fBfuP {
        color: var(--interactive-muted);
      }
    }
  }

  // Calendar
  .calendarPicker__5c474 {
    .react-datepicker {
      background-color: var(--background-secondary-alt);
    }

    .react-datepicker__day,
    .react-datepicker__header {
      background: var(--background-secondary-alt) !important;
      border-color: var(--background-tertiary) !important;

      &::after {
        background-color: var(--background-accent) !important;
      }
    }
  }
  .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY,
  .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover {
    background-color: var(--background-accent);
  }

  .searchLearnMore-7__o_n {
    display: none;
  }

  // Search result popout
  .searchResultsWrap__9f374 {
    overflow: visible;

    // Added header
    &::before {
      content: "Search results";
      position: absolute;
      top: -60px;
      z-index: 1;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bolder;
      color: var(--header-primary);
      background-color: var(--background-secondary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
      content: "";
      position: absolute;
      bottom: -35px;
      z-index: 1;
      width: 100%;
      height: 35px;
      background-color: var(--background-secondary);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      background-image: linear-gradient(
        to right,
        var(--header-primary) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 21px 2px;
      background-repeat: repeat-x;
    }

    // Header
    .searchHeader__19d87 {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      height: unset;

      & > * {
        justify-content: center;
      }

      // Total results
      .totalResults__695d3 {
        grid-column: 1/4;
      }

      // Parameters
      .tab-2j5AEF {
        padding: 0;
        margin: 0;
      }
    }

    // Scroller
    .scroller_c8d5ad {
      padding: 8px 0;

      .searchResultGroup__35ba9 {
        padding: 0 2px 0 8px;
      }

      // Reply
      .repliedMessage_e2bf4a {
        margin-left: 8px;

        &::before {
          display: none;
        }
      }

      // Message
      .wrapper__09ecc {
        padding: 0;
      }

      .contents_f41bb2 {
        display: grid;
        grid-template-columns: 40px auto;
        grid-gap: 8px;
        align-items: center;
        margin: 5px 5px 5px 8px;

        // Username + timestamp
        .header__39b23 {
          display: flex;
          flex-direction: column;

          .timestamp_cdbd93 {
            margin-left: 0;
          }
        }

        // Avatar
        .avatar__08316 {
          position: static;
          margin-top: 0;
        }

        // Content
        .messageContent__21e69 {
          grid-column: 1/3;
          padding-left: 10px;
          margin: 0;
          padding: 0;
        }
      }
      .embedWrapper_c143d9 {
        margin-left: 5px;
      }

      // Page control
      .pageControl__2dd90 {
        width: 100%;
      }
    }
  }

  .messagesPopoutWrap_b3b384 {
    border-radius: var(--border-radius);
  }

  .header__104ca,
  .content__1a4fe::before {
    box-shadow: none;
  }
}
