:root {
  // -- Member list --
  .container-2o3qEW {
    background: none;
  }

  @media (max-width: 1350px) {
    .members-3WRCEx {
      border-radius: var(--border-radius) 0 0;
    }
  }

  .membersWrap-3NUR2t {
    // Header
    &::before {
      content: "Member list";
      position: absolute;
      top: -60px;
      z-index: 1;
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      font-weight: bolder;
      color: var(--header-primary);
      background-color: var(--background-secondary);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
      content: "";
      position: absolute;
      bottom: -35px;
      z-index: 1;
      width: 100%;
      height: 35px;
      background-color: var(--background-secondary);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      background-image: linear-gradient(
        to right,
        var(--header-primary) 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: top;
      background-size: 21px 2px;
      background-repeat: repeat-x;
    }
  }

  .layout-1qmrhw {
    border-radius: var(--border-radius);
  }

  // -- User popout --
  .userPopoutOuter-1OHwPL {
    max-height: unset !important;
  }

  .userPopoutInner-nv9Y92 {
    position: relative;
    max-height: unset !important;
    overflow: hidden;
    z-index: 2;

    &::before {
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    // Banner
    .bannerSVGWrapper-2CLfzN {
      position: absolute;
      -webkit-mask-image: linear-gradient(to bottom, #000000, #00000000);
      mask-image: linear-gradient(to bottom, #000000, #00000000);
      background-color: #000000;
      height: 300px;

      mask {
        display: none;
      }
      foreignObject {
        mask: none;
      }

      .banner-1YaD3N {
        height: 100%;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #00000030;
        }
      }

      &[viewBox="0 0 340 120"] {
        transform: translateX(-200px);

        .banner-1YaD3N > * {
          display: none;
        }
      }

      .pencilContainer-11Kuga {
        display: none;
      }
    }

    // Badges
    .profileBadges-2pItdR {
      position: absolute;
      top: 65px;
      left: 110px;
      background-color: transparent;
    }

    // Avatar
    .avatarWrapperNormal-ahVUaC {
      position: relative;
      width: 80px;
      top: 16px;
      z-index: 1;

      foreignObject {
        mask: none;
        border-radius: var(--border-radius);
      }

      .avatarHint-k7pYop {
        border-radius: var(--border-radius);
      }

      circle {
        display: none;
      }
    }

    .userPopoutOverlayBackground-3A0Pcz {
      overflow: visible;
      background-color: #00000011;
      backdrop-filter: blur(20px);

      .usernameSection-3FppkT {
        & > .copiableNameTag-3tf-II > .clickTarget-2uXro4,
        & > div > .userText-1_v2Cq {
          position: absolute;
          top: -87px;
          left: 100px;
          box-sizing: border-box;
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          color: var(--header-secondary);

          & > span {
            word-break: unset;
            white-space: unset;
          }

          .discrimBase-v65kTs {
            color: white;
          }
        }

        .pronouns-17_QV6 {
          padding-top: 12px;
        }
      }

      .section-28YDOf {
        padding-top: 0;
        padding-bottom: 12px;
      }

      .divider-2dDziJ {
        display: none;
      }
    }
  }

  // -- User modal --
  .root-8LYsGj.root-1CAIjD.small-2xUY-3 {
    border-radius: var(--border-radius);

    // Banner part
    .topSection-13QKHs {
      position: relative;
      margin-bottom: 30px;

      // Banner
      .bannerSVGWrapper-2CLfzN {
        position: absolute;
        -webkit-mask-image: linear-gradient(to bottom, #000000, #00000000);
        mask-image: linear-gradient(to bottom, #000000, #00000000);
        background-color: #000000;
        width: 600px;

        mask {
          display: none;
        }
        foreignObject {
          mask: none;
        }

        .banner-1YaD3N {
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #00000030;
          }
        }

        &[viewBox="0 0 340 120"] {
          transform: translateX(-200px);

          .banner-1YaD3N > * {
            display: none;
          }
        }

        .pencilContainer-11Kuga {
          display: none;
        }
      }

      .header-S26rhB {
        .avatar-3QF_VA {
          position: relative;
          top: 22px;

          foreignObject {
            mask: none;
            border-radius: var(--border-radius);
          }

          circle {
            display: none;
          }
        }

        // Badges
        .headerTop-1PNKck {
          position: absolute;
          top: 70px;
          row-gap: 10px;
          flex-direction: column;

          .badgeList-2aoHPw {
            background-color: transparent;
          }
        }
      }
    }

    // User info part
    .userProfileModalOverlayBackground-2dAaBg {
      z-index: 1;
      overflow: visible;
      background-color: #00000011;
      backdrop-filter: blur(20px);

      // Username
      .container-3g15px > div:first-child {
        position: absolute;
        top: -145px;
        left: 150px;
        padding: 0;
      }
    }

    // Mutual bar
    .tabBarContainer-sCZC4w {
      padding: 0;
      border-bottom: none;

      .tabBar-2hXqzU {
        justify-content: space-around;
      }
    }

    // Activities
    .activity-2M3PRB {
      position: relative;
      z-index: 1;
    }
    .activityProfile-1712BN {
      background-color: var(--background-primary);
      margin: 10px;
      border-radius: var(--border-radius);
    }

    // Body
    .body-1Ukv50 {
      // Connections
      .userInfoSection-1gptv0.connectedAccounts-2R5M4w {
        border-top: none;

        .connectedAccountContainer-3aLMHJ {
          position: relative;
          border: none;

          .connectedAccount-2NOwd0 {
            flex-direction: column;
          }

          // Icon
          .connectedAccountIcon-2szOw- {
            position: relative;
            margin-bottom: 10px;
            width: 45px;
            height: 45px;
            z-index: 2;

            & + .connectedAccountNameContainer-3v4pIj::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              border-radius: var(--border-radius);
            }
          }

          // Username
          .connectedAccountNameContainer-3v4pIj {
            width: 100%;
            justify-content: center;
            overflow: visible;

            .connectedAccountNameTextContainer-lNExEJ {
              justify-content: center;
              margin: 0;
            }
            .text-xs-normal-3O7EaX {
              text-align: center;
            }
          }

          .connectedAccountChildren-2jEgw3 {
            justify-content: center;
            margin: 0;
          }

          // Link
          .anchor-1MIwyf {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;

            & > svg {
              display: none;
            }
          }

          .connectedAccountIcon-2szOw-[aria-label="Battle.net"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #1da0f248;
          }
          .connectedAccountIcon-2szOw-[aria-label="Twitch"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #601bd852;
          }
          .connectedAccountIcon-2szOw-[aria-label="YouTube"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #d9252b49;
          }
          .connectedAccountIcon-2szOw-[aria-label="Twitter"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #0098e43f;
          }
          .connectedAccountIcon-2szOw-[aria-label="Steam"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #00000034;
          }
          .connectedAccountIcon-2szOw-[aria-label="Reddit"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #fe44013d;
          }
          .connectedAccountIcon-2szOw-[aria-label="Facebook"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #2e328485;
          }
          .connectedAccountIcon-2szOw-[aria-label="Spotify"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #1ed75f34;
          }
          .connectedAccountIcon-2szOw-[aria-label="Xbox"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #5dc21e36;
          }
          .connectedAccountIcon-2szOw-[aria-label="League of Legends"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #cea14638;
          }
          .connectedAccountIcon-2szOw-[aria-label="GitHub"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #24292e62;
          }
          .connectedAccountIcon-2szOw-[aria-label="Skype"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #0076d74b;
          }
          .connectedAccountIcon-2szOw-[aria-label="Epic Games"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #2f2f2f59;
          }
          .connectedAccountIcon-2szOw-[aria-label="Riot Games"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #eb1c2d38;
          }
          .connectedAccountIcon-2szOw-[aria-label="PayPal"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #009fe33b;
          }
          .connectedAccountIcon-2szOw-[aria-label="TikTok"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #64bfc546;
          }
          .connectedAccountIcon-2szOw-[aria-label="eBay"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #c500003b;
          }
          .connectedAccountIcon-2szOw-[aria-label="PlayStation Network"]
            + .connectedAccountNameContainer-3v4pIj::before {
            background-color: #0051ae53;
          }
        }
      }
    }
  }
}
