:root { 

// -- Member list --
.membersWrap-2h-GB4 {
        
    // Header
    &::before {
        content: "Member list"; position: absolute;
        top: -60px; z-index: 1;
        width: 100%; height: 60px;
        display: flex;
        align-items: center; justify-content: center;
        font-size: 20px; font-weight: bolder;
        color: var(--header-primary);
        background-color: var(--background-secondary);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .members-1998pB { 
        width: 100%; 
        background-color: var(--background-primary);
        
        .content-3YMskv { background-color: transparent;}
        .member-3-YXUe { 
            max-width: 300px; 
            border-radius: var(--border-radius);
            background-color: var(--background-primary);
        }
    }
    
    // Footer
    &::after {
        content: ""; position: absolute;
        bottom: -35px; z-index: 1;
        width: 100%; height: 35px;
        background-color: var(--background-secondary);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 21px 2px;
        background-repeat: repeat-x;
    }
}

.layout-2DM8Md { border-radius: var(--border-radius);}

// -- User popout --
.userPopout-xaxa6l {
    display: grid; 
    grid-template-areas: "avatar user-infos body" 
                         "banner banner body";
    grid-template-columns: 120px 1fr 1fr;
    grid-template-rows: 120px 1fr;
    width: unset !important; max-width: 600px;
    min-height: 300px; padding: 8px;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(56, 31, 31, 0.11);

    // Banner
    .headerNormal-3KXFBt {
        grid-area: banner;
        position: static;
        width: 100%; height: calc(100% - 8px);
        margin: 8px 0 0;

        .banner-2QYc2d { 
            width: 100%; height: 100%;
            border-radius: var(--border-radius);
        }
    }

    // User informations header
    .headerTop-3vNv-a {
        grid-area: user-infos;
        position: static; display: flex;
        flex-direction: column-reverse;
        align-items: center; justify-content: flex-end;
        padding: 0; margin-left: 8px;
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);

        // Badges
        .profileBadges-ohc0Vu {
            position: static;
            width: calc(100% - 16px); height: 100%; 
            max-width: unset;
            align-items: center; justify-content: center;
            padding: 10px; margin: 0;

            .profileBadge22-LJmn9o { width: 30px; height: 30px;}
        }

        // Username
        .headerText-1vVs-U {
            display: flex; flex-direction: column;
            width: calc(100% - 12px); height: calc(100% - 12px);
            align-items: center; justify-content: center;
            padding: 6px;
            background-color: var(--background-primary);

            .headerTag-3GFl76, .nickname-3M3Jfa { font-size: 16px;}
        }

        .setIdentityLink-1t8Ahd { display: none;}
    }

    // Body
    .body-3HBlXn {
        grid-area: body; padding: 0 !important;
        
        // Custom status
        .customStatus-oN4ZZY {
            position: relative; overflow: hidden;
            width: calc(100% - 8px);
            margin: 0 0 8px 8px; padding: 36px 8px 8px 8px;
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);

            &::before {
                content: "CUSTOM STATUS"; position: absolute;
                top: 0; left: 0;
                width: calc(100% - 10px);
                font-size: 12px; font-weight: 600; 
                text-align: center; color: var(--header-secondary);
                background-color: var(--background-primary);
                padding: 5px;
            }
        }

        // Divider
        .divider-ewBQKj { display: none;}

        // About Me
        .aboutMeSection-1Fw5Ia {
            margin: 0 0 8px 8px; padding: 0 0 8px 0;
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);

            .aboutMeTitle-1IYtPE {
                justify-content: center;
                background-color: var(--background-primary);
                padding: 5px; border-radius: var(--border-radius) var(--border-radius) 0 0;
            }

            .aboutMeBody-3GuvKk { padding: 0 12px;}
        }

        .bodyInnerWrapper-26fQXj {
            padding-left: 8px;

            // Activity
            .activity-2INFPu { 
                background-color: var(--background-secondary-alt);
                padding-bottom: 8px; margin-bottom: 8px;
                border-radius: var(--border-radius);

                .headerTextNormal-2mGWX3 {
                    justify-content: center;
                    background-color: var(--background-primary);
                    padding: 5px; border-radius: var(--border-radius) var(--border-radius) 0 0;

                    & ~ * { padding: 0 8px;}
                }

                // Spotify icon
                .spotifyIcon-2J9kSv { display: none;}
            }
    
            // Roles
            .bodyTitle-1ySSKn {
                text-align: center;
                background-color: var(--background-primary);
                padding: 5px; margin-bottom: 0;
                border-radius: var(--border-radius) var(--border-radius) 0 0;
            }

            .rolesList-1geHY1 {
                flex-direction: column;
                margin: 0 0 8px 0; border-radius: 0 0 var(--border-radius) var(--border-radius);
                background-color: var(--background-secondary-alt);
                
                .role-2irmRk {
                    position: relative;
                    overflow: hidden;
                    border: none;
                    margin: 4px 4px 0 4px;

                    &:last-child { margin-bottom: 8px;}
                    &:empty { padding: 50px 0;}
                }

                .roleCircle-3xAZ1j::before {
                    content: '';
                    position: absolute;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    background: inherit;
                    opacity: .2;
                    pointer-events: none;
                }
                .roleCircle-3xAZ1j { margin: 0;}

                .roleName-32vpEy { 
                    z-index: 1;
                    text-align: center; 
                    width: 100%; font-weight: bold;
                    margin: 0 0 0 4px;
                }
            }

            // Notes
            .note-1oo11U {
                margin: 0; border-radius: 0 0 var(--border-radius) var(--border-radius);
                background-color: var(--background-secondary-alt);

                textarea:focus { background-color: transparent;}
            }
        }

        &::-webkit-scrollbar { display: none;}
    }

    // Avatar
    .avatarWrapperNormal-26WQIb {
        grid-area: avatar;
        position: relative;
        top: 0; left: 0;

        .avatar-37jOim { 
            border: none; background: none;
            width: 100% !important; height: 100% !important;
            
            foreignObject { mask: none; border-radius: var(--border-radius); overflow: hidden;}
            .pointerEvents-2zdfdO { display: none;}
        }
        .avatarHint-2A3RNb { 
            top: 0; left: 0;
            width: 100%; height: 100%;

            foreignObject { mask: none; border-radius: var(--border-radius); overflow: hidden;}
        }
    }

    .footer-3UKYOU { display: none;}
}

// Add role menu
.container-3XJ8ns {
    border-radius: var(--border-radius);
    border: none;
    
    .item-2J2GlB {
        .popoutRoleDot-1XPcoA { border: none;}
        
        &:hover { border-radius: var(--border-radius);} 
    }
}

// -- User modal --
.root-3QyAh1 {
    border-radius: var(--border-radius);

    .topSection-y3p-_D { 
        background-color: var(--background-secondary-alt);

        & > header {
            margin-left: 8px;

            .banner-2QYc2d { margin-left: -8px;}

            .header-4zuFdR {
                margin-bottom: 30px;

                // Avatar 
                .avatar-AvHqJA { 
                    border-width: 8px 0;
                    border-color: transparent;
                    background-color: transparent;
                    border-radius: var(--border-radius); overflow: hidden;
                    
                }
                .badgeList-1R1WgZ > * { 

                    img { width: 30px; height: 30px;}
                }
            }
        }
    }

    // Mutual bar
    .tabBarContainer-37hZsr { 
        padding: 0; border-bottom: none;
    
        .tabBar-3nvOPa { 
            justify-content: space-around;

            .tabBarItem-3dfX8P { margin-right: 0; z-index: 1; position: relative;}
        }
    }
    
    // Activities
    .activity-2M3PRB { position: relative; z-index: 1;}
    .activityProfile-2bJRaP { 
        background-color: var(--background-primary);
        margin: 10px; border-radius: var(--border-radius);
    }

    // Body
    .body-r6_QPy {
        z-index: 1;
        
        // Connections
        .userInfoSection-q_35fn {
            border-top: none;

            .connectedAccounts-QlRa4m {
                justify-content: flex-start;

                .connectedAccount-2Jb-Z0 { 
                    position: relative;
                    width: 110px;
                    flex-direction: column;
                    overflow: hidden; border: none;
                    margin: 5px; padding: 10px;

                    // Icon
                    .connectedAccountIcon-3_EQqg {
                        position: relative;
                        margin-bottom: 10px;
                        width: 45px; height: 45px;
                        z-index: 2;
                    }

                    // Username
                    .connectedAccountNameInner-2q3MVf {
                        position: relative; z-index: 1; 
                        width: 100%; justify-content: center;
                        overflow: visible;

                        .connectedAccountName-E1KzaT { text-align: center; margin: 0;}
                        span { display: none;}
                    }

                    // Link
                    .anchor-3Z-8Bb {
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        z-index: 2;

                        & > svg { display: none;}
                    }

                    // Background color
                    .connectedAccountIcon-3_EQqg + .connectedAccountNameInner-2q3MVf::before {
                        content: ""; position: absolute; 
                        top: -65px; left: -10px; z-index: -1;
                        width: 130px; height: 91px;
                        border-radius: var(--border-radius);
                        opacity: 0.25;
                    }

                    .connectedAccountIcon-3_EQqg { 
                        &[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #191717; } // GitHub
                        &[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #1ED760; } // Spotify
                        &[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #000000; } // Steam
                        &[src="/assets/0d44ba28e39303de3832db580a252456.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #5DC21E; } // Xbox
                        &[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #FF4500; } // Reddit
                        &[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #553092; } // Twitch
                        &[src="/assets/4662875160dc4c56954003ebda995414.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #1DA1F2; } // Twitter
                        &[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #D9252A; } // YouTube
                        &[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #009AE5; } // Battle.net
                        &[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #2D3283; } // Facebook
                        &[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] + .connectedAccountNameInner-2q3MVf::before { background-color: #CEA146; } // league of Legends  
                    }
                }
            }
        } 
    }
}


// USRBG for BetterDiscord only
.userPopout-xaxa6l[style*="-user-"] .banner-2QYc2d,
.root-3QyAh1[style*="-user-"] .banner-2QYc2d {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position, center) center;
    background-image: var(--user-background);
}
  
}