:root {
  // Adding a custom font
  ::-webkit-input-placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Nunito" !important;
  }

  // Background
  .bg__12180 {
    background: var(--background-tertiary-alt);
    background-size: cover;
    background-repeat: no-repeat;
  }

  // Windows button
  .winButton__88672 {
    background-color: var(--background-primary);

    &:last-child {
      border-bottom-left-radius: 8px;
    }
  }

  // More border radius
  button,
  input,
  textarea,
  .menu_dc52c6 {
    border-radius: var(--border-radius) !important;
  }

  // -- Better menus --
  .menu_dc52c6 {
    overflow: hidden;
  }

  .scroller__750f5 {
    padding: 0;

    &::-webkit-scrollbar,
    .separator__18122 {
      display: none;
    }
    .item__183e8 {
      flex-direction: row-reverse;
      padding: 10px 10px 10px 13px;
      margin: 0;
      transition: 0.15s;
      border-radius: 0;

      .hintContainer__79e5e {
        margin: 0 8px 0 0;
      }

      .iconContainer__829e7,
      .imageContainer_ea60f4 {
        margin: 0 8px 0 0;
      }
    }

    // Submenu
    .submenuPaddingContainer__12a9d {
      margin: 0 -8px;
    }
  }

  // Modals
  .modal__060da,
  .root_a28985,
  .uploadModal_eae2a0 {
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  .footer_c793da,
  .footer__89240 {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--background-tertiary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // User profile
  .accountProfilePopoutWrapper_af829a {
    left: -15px;
    bottom: -5px;

    .userPopoutOverlayBackground_d8afa4 {
      backdrop-filter: unset;
    }

    .nameTag__693ff {
      position: static !important;
    }
  }

  // Custom status modal
  .select__0eb48,
  .popout_a6e77f {
    border: none;
  }
  .select__0eb48,
  .popout_a6e77f,
  .input-3AAlUz {
    background-color: var(--background-secondary-alt);
  }

  // Delete Discord wordmark
  .titleBar__01af6 .wordmark__0d178 {
    display: none;
  }

  // Colored emoji
  .sprite__294b3 {
    filter: none !important;
  }

  // Create a server popout
  .header-1c1AhF {
    overflow-x: visible;
  }

  .categoryItem-1QIroW .itemInner-gPkiWb {
    background-color: transparent;
  }
  .pageWrapper_fef757 {
    background-color: var(--background-primary);
  }
  .notice__99c03 {
    border-top-left-radius: 0;
    background-color: var(--background-tertiary);
  }
  .button__671cf:hover {
    background-color: transparent;
  }
  .headerImage-2D5D-v,
  .card__86773 {
    border-radius: var(--border-radius);
  }

  // Call tile
  .tile_a411a4 {
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);

    .button__13ec4 {
      background-color: var(--background-accent);
    }
  }

  // Joining message
  .contentWrapper__85d37 {
    background: var(--background-secondary);
  }

  // Keyboard shortcuts
  .keyboardShortcutsModal__74c71 {
    background: var(--background-secondary);
  }

  // Discord game
  .scroller__46bcc {
    background: var(--background-primary);
  }
  .whyYouMightLikeIt_ad60b9,
  .content__8af7f,
  .bodySection_ae0d90,
  .row__80d34 {
    background: var(--background-secondary);
  }

  // Tooltips
  .toolbar_c7b525 {
    display: flex !important;
    background-color: var(--background-secondary-alt);

    &::before {
      border-top: 8px solid var(--background-secondary-alt);
    }

    .button__07531 {
      background-color: transparent !important;
    }
  }

  // New community home
  .header__60bef,
  .container__10dc7,
  .emptyPage__3e15d,
  .pageBody_db54f5,
  .background_cb0a80,
  .scrollerContainer_bf5dbd {
    background-color: var(--background-primary);
  }
  .row__70f4c,
  .channelRow__96673 {
    background-color: var(--background-secondary);
  }
  .emptyContainer__0cde5 > .emptyIcon__3ebb5 {
    & > circle {
      fill: var(--interactive-normal);
    }
    & > path {
      fill: var(--background-accent);
      stroke: var(--background-accent);
    }
  }
  .brand_ce3ecf.item__48dda:active,
  .brand_ce3ecf.selected__5711d.item__48dda {
    border-bottom-color: var(--background-accent);
  }
  .checkbox_c7f690 {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-accent) !important;

    &.checked__24ad6 {
      background-color: var(--background-accent) !important;
      
      & > svg > path {
        fill: #FFF;
      }
    }

    & > svg > path {
      fill: transparent;
    }
  }

  .container__871ba.checked__6bdb0 {
    background-color: var(--background-accent) !important;

    & path {
      fill: var(--background-accent) !important;
    }
  }

  // Loading screen
  .ready__61f2f {
    display: none;

    & + .text__32559 {
      top: 82px;

      &::before {
        content: "";
        position: absolute;
        bottom: 100px;
        left: 50px;
        width: 200px;
        height: 200px;
        background: var(--jumping-gif) center/80% no-repeat;
      }
    }
  }

  .container__871ba[style*="background-color: var(--green-360)"] {
    background-color: var(--background-accent) !important;

    & path {
      fill: var(--background-accent) !important;
    }
  }

  // -- ✔️ Plugin support --

  // PermisssionViewer support
  #permissions-modal-wrapper #permissions-modal {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11) !important;
    border-color: var(--background-tertiary) !important;
  }
  #permissions-modal-wrapper .header {
    background: var(--background-tertiary) !important;
    text-align: center !important;
  }
  #permissions-modal-wrapper .role-side,
  #permissions-modal-wrapper .perm-side {
    background: var(--background-secondary) !important;
  }

  // Member Count support
  #MemberCount {
    width: 320px;
  }

  @media (max-width: 1350px) {
    #MemberCount {
      background-color: var(--background-primary);
    }
  }

  @media (min-width: 1350px) {
    #MemberCount .membersGroup__85843 {
      padding-top: 12px;
    }
  }

  // Vencord
  .vc-settings-tab-bar {
    border-color: var(--background-secondary);
  }

  .vc-settings-card, .vc-settings-quick-actions-card {
    border: none;
  }

  .vc-settings-tab-bar-item.item__48dda {
    border-radius: 0 !important;
  }

  .vc-settings-theme-links {
    background-color: var(--background-secondary);
    border: none;
  }

  .vc-addon-card {
    border-radius: var(--border-radius);
  }
}