:root {
  // Adding a custom font
  ::-webkit-input-placeholder,
  body,
  button,
  input,
  select,
  textarea {
    font-family: "Nunito" !important;
  }

  // Background
  .bg-1QIAus {
    background: var(--background-tertiary-alt);
    background-size: cover;
    background-repeat: no-repeat;
  }

  // Windows button
  :is(.winButton-3UMjdg, .winButton-3SigSb) {
    background-color: var(--background-primary);

    &:last-child {
      border-bottom-left-radius: 8px;
    }
  }

  // More border radius
  button,
  input,
  textarea,
  .item-2GWPIy:not([class*="tabBarItem-"]),
  .menu-2TXYjN {
    border-radius: var(--border-radius) !important;
  }

  // -- Better menus --
  .menu-2TXYjN {
    overflow: hidden;
  }

  .scroller-nxCRu_ {
    padding: 0;

    &::-webkit-scrollbar,
    .separator-12G2Op {
      display: none;
    }
    .item-5ApiZt {
      flex-direction: row-reverse;
      padding: 10px 10px 10px 13px;
      margin: 0;
      transition: 0.15s;
      border-radius: 0;

      .iconContainer-Ksy8Oj,
      .imageContainer-3UDrmv {
        margin: 0 8px 0 0;
      }
    }

    // Submenu
    .submenuPaddingContainer-QgnL1r {
      margin: 0 -8px;
    }
  }

  // Modals
  .modal-2RrUKJ,
  .root-1CAIjD,
  .uploadModal-2ie9O_ {
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  .footer-1KGV6y,
  .footer-IubaaS {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background-color: var(--background-tertiary);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);
  }

  // User profile
  :is(.accountProfilePopoutWrapper-3GskID, .accountProfilePopoutWrapper-Ag_Fip) {
    left: -15px;
    bottom: -5px;

    .userPopoutOverlayBackground-3A0Pcz {
      backdrop-filter: unset;
    }

    .nameTag-H6kSJ0 {
      position: static !important;
    }
  }

  // Custom status modal
  .select-Zz0IcO,
  .popout-15UxD6 {
    border: none;
  }
  .select-Zz0IcO,
  .popout-15UxD6,
  .input-3AAlUz {
    background-color: var(--background-secondary-alt);
  }

  // Delete Discord wordmark
  :is(.titleBar-1it3bQ, .titleBar-3AIemB) :is(.wordmark-2u86JB, .wordmark-3wYFg6) {
    display: none;
  }

  // Colored emoji
  .sprite-2lxwfc {
    filter: none !important;
  }

  // Create a server popout
  .header-1c1AhF {
    overflow-x: visible;
  }

  .categoryItem-1QIroW .itemInner-gPkiWb {
    background-color: transparent;
  }
  :is(.pageWrapper-2PwDoS, .pageWrapper-eg3-6i) {
    background-color: var(--background-primary);
  }
  .notice-12Koq- {
    border-top-left-radius: 0;
    background-color: var(--background-tertiary);
  }
  .button-3_1yil:hover {
    background-color: transparent;
  }
  .headerImage-2D5D-v,
  .card-2TuZPZ {
    border-radius: var(--border-radius);
  }

  // Call tile
  .tile-2TcwiO {
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);

    .button-3Vyz67 {
      background-color: var(--background-accent);
    }
  }

  // Joining message
  .contentWrapper-3oy4Xo {
    background: var(--background-secondary);
  }

  // Keyboard shortcuts
  .keyboardShortcutsModal-2CRmCm {
    background: var(--background-secondary);
  }

  // Discord game
  .scroller-s-wehS {
    background: var(--background-primary);
  }
  .whyYouMightLikeIt-2N2Df7,
  .content-1W9-9i,
  .bodySection-3iDdop,
  .row-2qQ--F {
    background: var(--background-secondary);
  }

  // Tooltips
  .toolbar-37BrJ5 {
    display: flex !important;
    background-color: var(--background-secondary-alt);

    &::before {
      border-top: 8px solid var(--background-secondary-alt);
    }

    .button-lA2rvH {
      background-color: transparent !important;
    }
  }

  // New community home
  .header-3xB4vB,
  .container-2IKOsH,
  .emptyPage-2TGR7j,
  .pageBody-23bo4p,
  .background-12kWdX,
  .scrollerContainer-y16Rs9 {
    background-color: var(--background-primary);
  }
  .row--LCpto,
  .channelRow-4X_3fi {
    background-color: var(--background-secondary);
  }
  .emptyContainer-8KVAv2 > .emptyIcon-IW8ndV {
    & > circle {
      fill: var(--interactive-normal);
    }
    & > path {
      fill: var(--background-accent);
      stroke: var(--background-accent);
    }
  }
  .brand-2EKq3J.item-2GWPIy:active,
  .brand-2EKq3J.selected-1sf9UK.item-2GWPIy {
    border-bottom-color: var(--background-accent);
  }
  .checkbox-1LuCGM {
    background-color: var(--interactive-normal) !important;
    border-color: var(--background-accent) !important;

    & > svg > path {
      fill: var(--background-accent);
    }
  }

  // Loading screen
  :is(.ready-3BZNWT, .ready-3GlCTH) {
    display: none;

    & + :is(.text-2bYgPB, .text-2oT_0D) {
      top: 82px;

      &::before {
        content: "";
        position: absolute;
        bottom: 100px;
        left: 50px;
        width: 200px;
        height: 200px;
        background: var(--jumping-gif) center/80% no-repeat;
      }
    }
  }

  .container-1QtPKm[style*="background-color: var(--green-360)"] {
    background-color: var(--background-accent) !important;

    & path {
      fill: var(--background-accent) !important;
    }
  }

  // -- ✔️ Plugin support --

  // PermisssionViewer support
  #permissions-modal-wrapper #permissions-modal {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11) !important;
    border-color: var(--background-tertiary) !important;
  }
  #permissions-modal-wrapper .header {
    background: var(--background-tertiary) !important;
    text-align: center !important;
  }
  #permissions-modal-wrapper .role-side,
  #permissions-modal-wrapper .perm-side {
    background: var(--background-secondary) !important;
  }

  // Member Count support
  #MemberCount {
    width: 320px;
  }

  @media (max-width: 1350px) {
    #MemberCount {
      background-color: var(--background-primary);
    }
  }

  @media (min-width: 1350px) {
    #MemberCount :is(.membersGroup-2eiWxl, .membersGroup-2YoqY-) {
      padding-top: 12px;
    }
  }

  // Vencord
  .vc-settings-tab-bar {
    border-color: var(--background-secondary);
  }

  .vc-settings-card, .vc-settings-quick-actions-card {
    border: none;
  }

  .vc-settings-tab-bar-item.item-2GWPIy {
    border-radius: 0 !important;
  }

  .vc-settings-theme-links {
    background-color: var(--background-secondary);
    border: none;
  }

  .vc-addon-card {
    border-radius: var(--border-radius);
  }
}