:root {
  .guilds-2JjMmN .scroller-3X7KbA {
    padding: 8px 0 130px 0;

    .wrapper-2PSQCG foreignObject {
      mask: none;
      border-radius: var(--border-radius);
      transition: border-radius 0.15s;

      &:hover {
        border-radius: calc(var(--border-radius) - 5px);
      }
    }

    .folder-241Joy {
      background-color: transparent;
    }

    // Discover + create a server buttons
    .circleIconButton-1VxDrg {
      color: var(--background-accent);
      background-color: var(--background-secondary-alt) !important;
    }
  }
}

.theme-light {
  .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
  .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--text-normal);
  }
}

.theme-dark {
  .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
  .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--background-primary);
  }
}

// Server radius
.wrapperSimple-2SFl9K,
.folderIconWrapper-226oVY,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-2sPsd-,
.flexChild-3PzYmX .avatarUploaderInner-yEhTv5 {
  border-radius: var(--border-radius);
}

.panels-3wFtMD {
  z-index: unset;
}

// Game panel
.panel-2ZFCRb {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 56px;
  border-bottom: none;
  background-color: var(--background-tertiary);
  transition: width 0.35s;

  .gameWrapper-2TFy7F {
    margin-left: 12px;
  }

  .info-88fTUI,
  .actions-zk2vB_ {
    opacity: 0;
  }

  &:hover {
    width: 274px;
    margin: 8px;
    z-index: 1;
    border-radius: 5px var(--border-radius) var(--border-radius) 5px;
    border-left: 5px solid var(--background-accent);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2),
      0 0 0 1px rgba(56, 31, 31, 0.11);

    .gameWrapper-2TFy7F {
      margin-left: 0;
    }
    .info-88fTUI,
    .actions-zk2vB_ {
      opacity: 1;
    }
  }
}
