:root {
    #splash { 
        background: #5e3640;

        video { 
            display: none;
          
            & + .splash-text {
              top: 82px;

              &::before {
                content: ""; position: fixed;
                bottom: 40px; left: 0;
                width: 100%; height: 100%;
                background: url("https://i.imgur.com/dCd49s0.gif") center/50% no-repeat;
              }
            }
          }
    }
}