:root { 
.content-98HsJk .sidebar-2K8pFh { border-radius: 0;}

// Server scroller
#guild-header-popout .item-1tOPte {
    flex-direction: row-reverse;

    .iconContainer-2-XQPY { margin: 0 8px 0 0;}
}
.colorPremium-p4p7qO.focused-3afm-j .icon-LYJorE, 
.colorPremium-p4p7qO:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #ff73fa;}

// Channels
.content-1x5b-n { border-radius: var(--border-radius);}

// Voice call
.content-1Wq3SX { border-radius: var(--border-radius);}

// SCTR connection
.container-2x5lvQ .header-2C89wJ { background-color: var(--background-tertiary);}
.container-2x5lvQ section { background-color: var(--background-secondary);}

}