:root { 

// Friends activity
.nowPlayingColumn-2sl4cE {
    position: fixed;
    top: 280px; bottom: 120px; right: 60px;
    width: 320px; min-width: unset;
    background-color: var(--background-primary);

    // Header
    &::before {
        content: "Friends activity"; position: absolute;
        top: -60px; z-index: 1;
        width: 100%; height: 60px;
        display: flex;
        align-items: center; justify-content: center;
        font-size: 20px; font-weight: bolder;
        color: var(--header-primary);
        background-color: var(--background-secondary);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    // Footer
    &::after {
        content: ""; position: absolute;
        bottom: -35px; z-index: 1;
        width: 100%; height: 35px;
        background-color: var(--background-secondary);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 21px 2px;
        background-repeat: repeat-x;
    }
}

// Friend list
.container-1D34oG { 
    background-color: var(--background-primary);

    .peopleListItem-2nzedh { 
        border-radius: var(--border-radius); border-top: none;
        background: var(--background-modifier-hover);
        margin: 8px 10px 8px 20px;
        padding: 16px 10px;

        &:hover { .actionButton-uPB8Fs { background-color: var(--background-secondary-alt);}}
    }
}

// Friend call
.nowPlayingColumn-2sl4cE .scroller-2ZPeAD { border: none;}
.controlButton-2MhVEL foreignObject { mask: none;}
.colorable-1bkp8v.primaryDark-3mSFDl { background-color: var(--background-primary);}
.wrapper-2qzCYF { background-color: var(--background-tertiary);}

// Friend activity
.inset-3sAvek { background-color: var(--background-primary);}
.separator-XqIyoz { display: none;}
.voiceSectionIconWrapper-FO7UEY { background-color: var(--background-tertiary);}
.outer-1AjyKL.active-1xchHY, .outer-1AjyKL.interactive-3B9GmY:hover { background-color: var(--activity-card-background);}
.itemCard-v9viV7 { 
    border-radius: var(--border-radius);

    .body-1ld4H7 { border-radius: calc(var(--border-radius) - 10px);}
}

// Regionnal selector friend call
.quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W { background-color: var(--background-secondary-alt);}

}