:root { 

// -- Member list --
.membersWrap-2h-GB4 {
        
    // Header
    &::before {
        content: "Member list"; position: absolute;
        top: -60px; z-index: 1;
        width: 100%; height: 60px;
        display: flex;
        align-items: center; justify-content: center;
        font-size: 20px; font-weight: bolder;
        color: var(--header-primary);
        background-color: var(--background-secondary);
        border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    .members-1998pB { 
        width: 100%; 
        background-color: var(--background-primary);
        
        .content-3YMskv { background-color: transparent;}
        .member-3-YXUe { 
            max-width: 300px; 
            border-radius: var(--border-radius);
            background-color: var(--background-primary);
            
            .layout-2DM8Md { border-radius: var(--border-radius);}
        }
    }
    
    // Footer
    &::after {
        content: ""; position: absolute;
        bottom: -35px; z-index: 1;
        width: 100%; height: 35px;
        background-color: var(--background-secondary);
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        background-image: linear-gradient(to right, var(--header-primary) 33%, rgba(255,255,255,0) 0%);
        background-position: top;
        background-size: 21px 2px;
        background-repeat: repeat-x;
    }
}

// -- User popout --
.userPopout-3XzG_A {
    width: unset !important; max-width: 800px;
    flex-direction: row;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(56, 31, 31, 0.11);
    transform:translateZ(0);

    // Header
    .header-2BwW8b { 
        max-width: 280px; min-width: 200px;
        display: flex; flex-direction: column;
        background-color: var(--background-secondary-alt);
        z-index: 1;

        // USRBG
        .wrapper-3t9DeA::after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            z-index: -1;
            pointer-events: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: var(--user-popout-position) center;
            background-image: var(--user-background);
            -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.8) 100%, transparent);
        }

        .activityUserPopout-2yItg2 { margin: 8px; border-radius: var(--border-radius);}
    }

    .body-3iLsc4, .footer-1fjuF6 { z-index: 1;}

    // Activities
    .headerPlaying-j0WQBV .activityUserPopout-2yItg2 { background-color: var(--playing);}
    .headerSpotify-zpWxgT .activityUserPopout-2yItg2 { background-color: var(--spotify);}
    .headerStreaming-2FjmGz .activityUserPopout-2yItg2 { background-color: var(--streaming);}
    .headerXbox-3G-4PF .activityUserPopout-2yItg2 { background-color: var(--xbox);}

    // Body
    .body-3iLsc4 {
        background-color: var(--background-secondary);
        
        // Roles
        .rolesList-22qj2L {
            flex-direction: column;
            
            .role-2irmRk {
                position: relative;
                overflow: hidden;
                border: none;
            }

            .roleCircle-3xAZ1j::before {
                content: '';
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background: inherit;
                opacity: .2;
                pointer-events: none;
            }
            .roleCircle-3xAZ1j { width: 14.29px;}
            .roleName-32vpEy { text-align: center; width: 100%; overflow: visible; font-weight: bold;}
        }
    }

    // Footer
    .footer-1fjuF6 { display: none;}
}

// Add role menu
.container-3XJ8ns {
    border-radius: var(--border-radius);
    border: none;
    
    .item-2J2GlB {
        .popoutRoleDot-1XPcoA { border: none;}
        
        &:hover { border-radius: var(--border-radius);} 
    }
}

// -- User modal --
.modal-3c3bKg {
    .root-SR8cQa {
        border-radius: var(--border-radius);
        transform: translateZ(0);

        & > *:first-child { background-color: var(--background-secondary-alt);}

        // Activities
        .activity-1ythUs { position: relative; z-index: 1;}
        .activityProfile-2bJRaP { margin: 10px; border-radius: var(--border-radius);}
        .topSectionPlaying-1J5E4n .activityProfile-2bJRaP { background-color: var(--playing);}
        .topSectionSpotify-1lI0-P .activityProfile-2bJRaP { background-color: var(--spotify);}
        .topSectionStreaming-1Tpf5X .activityProfile-2bJRaP { background-color: var(--streaming);}
        .topSectionXbox-3fWLjS .activityProfile-2bJRaP { background-color: var(--xbox);}

        .header-QKLPzZ {
            display: grid;
            grid-template-columns: 130px auto 40px;
            padding: 15px 5px 15px 15px;

            // Avatar 
            .avatar-3EQepX { 
                grid-row: 1/3;
                width: 110px !important; height: 110px !important;

                .avatar-VxgULZ { border-radius: var(--border-radius);}
                foreignObject { mask: none;}
                rect { display: none;}

                // USRBG
                &.wrapper-3t9DeA::before {
                    content: '';
                    position: fixed;
                    top: 0; left: 0;
                    width: 100%; height: 100%;
                    pointer-events: none;
                    background: var(--user-background) center/cover no-repeat;
                    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.8) 100%, transparent);
                }
            }

            // User infos
            .headerInfo-30uryT { 
                grid-column: 2/4; 
                display: flex; position: relative;
                flex-direction: column;
                align-items: center;
                z-index: 1;
            }
        }

        // Mutual bar
        .tabBarContainer-1s1u-z { padding: 0; border-top: none;}
        .tabBar-2MuP6- { justify-content: space-around;}
        .tabBarItem-1b8RUP { margin-right: 0; z-index: 1; position: relative;}
        
        .body-3ND3kc {
            z-index: 1;
            
            // Connections
            .userInfoSection-2acyCx {
                border-top: none;

                .connectedAccounts-repVzS {
                    justify-content: flex-start;

                    .connectedAccount-36nQx7 { 
                        position: relative;
                        width: 110px;
                        flex-direction: column;
                        overflow: hidden; border: none;
                        margin: 5px; padding: 10px;

                        // Icon
                        .connectedAccountIcon-3P3V6F {
                            position: relative;
                            margin-bottom: 10px;
                            width: 45px; height: 45px;
                            z-index: 2;
                        }

                        // Username
                        .connectedAccountNameInner-1phBvE {
                            position: relative; z-index: 1; 
                            width: 100%; justify-content: center;
                            overflow: visible;

                            .connectedAccountName-f8AEe2 { text-align: center; margin: 0;}
                            span { display: none;}
                        }

                        // Link
                        .anchor-3Z-8Bb {
                            position: absolute;
                            top: 0; left: 0;
                            width: 100%; height: 100%;
                            z-index: 2;

                            & > svg { display: none;}
                        }

                        // Background color
                        .connectedAccountIcon-3P3V6F + .connectedAccountNameInner-1phBvE::before {
                            content: ""; position: absolute; 
                            top: -65px; left: -10px; z-index: -1;
                            width: 130px; height: 91px;
                            border-radius: var(--border-radius);
                            opacity: 0.25;
                        }

                        .connectedAccountIcon-3P3V6F { 
                            &[src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #191717; } // GitHub
                            &[src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #1ED760; } // Spotify
                            &[src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #000000; } // Steam
                            &[src="/assets/0d44ba28e39303de3832db580a252456.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #5DC21E; } // Xbox
                            &[src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #FF4500; } // Reddit
                            &[src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #553092; } // Twitch
                            &[src="/assets/4662875160dc4c56954003ebda995414.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #1DA1F2; } // Twitter
                            &[src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #D9252A; } // YouTube
                            &[src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #009AE5; } // Battle.net
                            &[src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #2D3283; } // Facebook
                            &[src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] + .connectedAccountNameInner-1phBvE::before { background-color: #CEA146; } // league of Legends  
                        }
                    }
                }
            } 
        }
    }
}
}