:root { 
    .guilds-1SWlCJ .scroller-1Bvpku { padding-top: 8px;}
}

.theme-light { 
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, 
    .wrapper-1BJsBx:hover .childWrapper-anI2G9 { background-color: var(--text-normal);}
} 

.theme-dark { 
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, 
    .wrapper-1BJsBx:hover .childWrapper-anI2G9 { background-color: var(--background-primary);}
} 